:root {
    --custom-primary: #3498db;     
    --custom-secondary:rgb(119, 119, 119);   
    --custom-body-color: #fff;
    --custom-main-color: #000000;
    --custom-navbar-color: #303030;
}

.navbar {
    background-color: var(--custom-navbar-color);
}

body {
    color: var(--custom-main-color);
    background-color: var(--custom-body-color);
}

.btn-primary {
    background-color: var(--custom-primary);
    border-color: var(--custom-primary); 
    color: #fff; 
}

.btn-secondary {
    background-color: var(--custom-secondary);
    border-color: var(--custom-secondary);
    color: #fff; 
}